body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

#top{
    left: 0;
    top: 0;
    right: 0;
  position:absolute;
    width: 100%;
       
  /* width: 100%;
  position: fixed; /* Stay in place */
  /* z-index: 1;  */
  /* left: 0;
  top: 0; */ 

    background-color: #cccccc;
    text-align: center;
    color:rgb(185, 41, 41);
    line-height:1.4;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.15px;
    padding:10px 25px;
}
#top a {
    cursor: pointer;
    color:rgb(185, 41, 41);
}

#top p{
    float:left;
    margin-left:400px;
}

#top button{
    float:right;
    margin-top: 10px;
    color:white;
    background-color:red;
    border:none;
    cursor: pointer;
    font-size: 12px;
}

#top button img{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin-right:5px;
}
#top span{
    vertical-align: top;
}

.clear{
    clear:both
}

#nav-bar{
    margin-top:25px;
    padding-bottom:13px;

}

#nav-bar>div{
    width:96.5%;
    margin:auto;
}

/* ul{
    list-style-type: none;
} */

/* #inside-div{
    /* border:1px solid green; } */

#inside-div>div{
    float:left;
    margin-right:40px;
}

#logo{
    width:13%;
    margin-top: 5px;
   
}

#navs{
    left:0;
    right:0;
    width:100%;
    margin-top: 10px;
    background-color: #0e0d0d;
    height: 40px;
}

#navs>button{
  margin-top:10px;
     display: inline; 
     cursor: pointer;
        /* justify-content: space-evenly; */
    border:none;
    color:white;
    margin-left: 75px;
    /* color:#393939; */
    font-family: Brandon Text,Arial,sans-serif;
    font-weight: 400;
    font-size: 14px;
    transition-duration: 1s;
    background-color: black;
    color: white !important;
}
/* 
#red{
    color:#d61f27 !important;
} */

#search{
    display: flex;
    width:28%;
    /* margin-right:0px !important; */
    margin-left:50%;
}

#search >div{
    width:37%;
    margin-right: 20px;
}

#search >div:nth-last-child(1){
    margin-right: 0px;
}

#bag{
    width:13% !important;
    
}

#bag img{
    width:100%;
    margin-top: 7px;
}

#one,#two{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 14px;
    color:#393939;
    font-family: Brandon Text,Arial,sans-serif;
}
#search p{
    color:black !important;
}

#one img{
    width:100%;
    height: 30px;
}
#bag > a > img {
    width: 100%;
    height: 25px;
}

#two > img {
    width: 16px;
    height: 16px;
}

.img > img{
    width: 20px;
    height: 20px;
}

#navs>button:nth-last-child(1){
    margin-left:17px;
    margin-right: 0px;
}

#search p{
    margin-left:3px;
}

.Sale-content, .Home-content, .Women-content,.Men-content,.Kids-content,.YoungAdult-content,.Kids-content,.Activewear-content,.Gifts-content,.Beauty-content,.Designer-content,.Brands-content{
    display: block;
    height:0px;
    width:100%;
    position: absolute;
    overflow: hidden;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 0px 25px;
    padding-bottom:0px;
    z-index: 1;
    transition: height 0.5s ease-out;
    overflow-y: auto;
    
}

#inputBox{
    display: block;
    height:0px;
    position: absolute ;
    top:90px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 6;
    border:none;
    padding:0px 20px;
    width:400px;
}

#signIN{
    display: none;
    position: absolute;
    top:90px;
    right:20px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border:none;
    z-index: 7;
    padding:10px 20px;
    background-color: white;
    width:16% !important;
}

#signIN li{
    margin:10px;
    margin-bottom:20px;
    font-size:12px;
}

#signIN li:nth-child(1){
    width:65%;
    background-color:black;
    text-align: center;
    padding:10px 30px;
}

#signIN li:nth-child(2){
    width:65%;
    border:1px solid black;
    text-align: center;
    padding:10px 30px;
}

#signIN a{
    text-decoration:none;
    color: #393939;
}

#signIN li:nth-child(1)>a{
    color: white;
}



.mainh3{
    margin-top:20px;
}
.Sale-content>div, .Home-content>div,.Women-content>div ,.Men-content>div ,.Kids-content>div ,.YoungAdult-content>div ,.Kids-content>div ,.Activewear-content>div ,.Gifts-content>div ,.Beauty-content>div ,.Designer-content>div ,.Brands-content>div {
    display: flex;
}

.Sale-content>div>div, .Home-content>div>div,.Women-content>div>div,.Men-content>div>div,.Kids-content>div>div,.YoungAdult-content>div>div,.Kids-content>div>div,.Activewear-content>div>div,.Gifts-content>div>div,.Beauty-content>div>div,.Designer-content>div>div,.Brands-content>div>div{
    margin-right: 80px;
}

.Sale-content ul, .Home-content ul, .Women-content ul,.Men-content ul,.Kids-content ul,.YoungAdult-content ul,.Kids-content ul,.Activewear-content ul,.Gifts-content ul,.Beauty-content ul,.Designer-content ul,.Brands-content ul{
    list-style-type:none
}

.Sale-content a, .Home-content a,.Women-content a,.Men-content a,.Kids-content a,.YoungAdult-content a,.Kids-content a,.Activewear-content a,.Gifts-content a,.Beauty-content a,.Designer-content a,.Brands-content a{
    color: #393939;
    font-size:13px;
    line-height: 1.4;
    text-decoration:none;
}

.Sale-content li>a, .Home-content li>a,.Women-content li>a,.Men-content li>a,.Kids-content li>a,.YoungAdult-content li>a,.Kids-content li>a,.Activewear-content li>a,.Gifts-content li>a,.Beauty-content li>a,.Designer-content li>a,.Brands-content li>a{
    font-size:12px;
}

.Sale-content li, .Home-content li, .Women-content li,.Men-content li,.Kids-content li,.YoungAdult-content li,.Kids-content li,.Activewear-content li,.Gifts-content li,.Beauty-content li,.Designer-content li,.Brands-content li{
    margin-bottom: 10px;
}

.firstDiv{
    margin-right:30px;
}

hr{
    background-color:rgb(223, 213, 213);
    height:1px;
    width:200px;
    margin-bottom:10px;
    border:none;
}

.topMargin{
    margin-top:30px;
}

.marginRem{
    margin-right:0px;
    width:15%;
}

.marginRem img{
    width:100%;
    margin-top:80px;
    margin-bottom:80px;
}

.decor {
    font-size: 11px;
}

.decor+hr{
    width:110px;
    background-color: black;
}

ul{
    list-style-type:none
}


/* cart starts  */
#cartcontainer{
    width:80%;
    margin:auto;
    display: flex;
    /* border:1px solid black; */

}
.cartcontainer1{
    width:65%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    /* border:1px solid black; */
  
}
.cartcontainer2{
    width:33%;
    margin-left: 2%;
    /* border: 1px solid black; */
  
}
.cartcontainer11{
    border:1px solid rgb(177, 168, 168);
    height: 170px;
    width:99%;
}
.cartcontainer111{
    display:flex;
    width:90%;
    margin: auto;
    justify-content: space-between;
}
.cartcontainer111 p{
    color:#000000 !important;
    font-size: 18px;
}
.cartcontainer111 img{
    height:67px;
}
.cartcontainer121{
    display: flex;
}
.cartcontainer12 img{
    height:70px;
    margin-left: 10px;
}
.cartcontainer12 p{
    color: black !important;
}
.cartcontainer122{
    display: flex;
    justify-content: space-evenly;
}
.cartcontainer1221{
    border:1px solid rgb(204, 194, 194);
    height:70px;
    width:49%;
    margin: auto;
    text-align: center;
    
}
.cartcontainer1222{
    border:1px solid rgb(204, 194, 194);
    height:70px;
    width:49%;
    margin: auto;
    text-align: center;
}
#cartcontainer123{
    width:100%;
    border:1px solid rgb(204, 194, 194);
    text-align: center;
    align-items: center;
}
table,
th,
td {
    width:100%;
  border: 1px solid rgb(65, 64, 64);
}
#cartcontainer123 img{
    width: 150px;
    height: 150px;
    margin:auto;
    text-align: center;
    align-items: center;
}
#landing-container2-small5{
    display: flex;
}
#cartcontainer14{
    width:100%;
    height: 350px;
   /* max-height:200px; */
    margin: auto;
    display: flex;
    overflow-x: scroll;
}
#cartcontainer14 p{
    color: black !important;
}
#cartcontainer14 img{
    width:120px;
    height:150px;
}
#cartcontainer140{
    min-width: 250px;
    height:150px;
    /* line-height: 150px; */
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
#cartcontainer140:hover{
    min-width:250px;
    height:370px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

#cartcontainer140 button {
    padding: 5px 10px;border-radius:10px;
}
#cartcontainer140 button:hover{
    cursor: pointer;
    background-color:black;
    color:white;
}
#recommended{
   margin-left: 10px; 
}
#recommended:hover{
    text-decoration: underline;
}
#cartcontainer140  img:hover{
    cursor: pointer;
    width: 160px;
    
}#cartcontainer2 p{
    color: black !important;
}
#subTotal{
    margin-top:20px;
}
.cartcontainer2001{
    border:1px solid rgb(151, 144, 144);
}
.cartcontainer200001{
    border:1px solid rgb(151, 144, 144);
}
.cartcontainer200001 img{
    width:150px;
    border-radius: 40px;
    border:2px solid rgb(17, 17, 17);
    padding:5px 40px;
}
.cartcontainer200001 button{
    padding:14px 40px;
    background-color:red;
    color:white;
    border-radius: 40px;
    border: none;
}
.cartcontainer20011{
    width:100%;
    border:1px solid rgb(124, 122, 122);
}
.cartcontainer20011 input{
    width:80%;
    padding:10px;
    height: 20px;
    border-radius:20px;
    text-align: center;
}
.cartcontainer20011 button{
    padding:10px 25px;
     margin-left: 55%;
     border: none;
     border-radius: 30px;
     background-color:black;
     color:white;
     margin-top: 5px;
}
